<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Challange Chapter 3</title>
        <link rel="stylesheet" href="./bootstrap-5.2.3-dist/css/bootstrap.css">
        <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body>
       <div class="containers">

        
<!--==============================================-->
        <div class="home"> 
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-25">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Work</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About Me</a>
                    </li>
                  </ul>
                  <form class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Sign Up</a>
                      </li>
                      <li class="nav-item">
                        <a href="/login" class="nav-link active" aria-current="page">Login</a>
                      </li>
                      <li class="nav-item">
                        <a href="/user" class="nav-link active" aria-current="page">User</a>
                      </li>
                    </ul>
                  </form>
                </div>
              </div>
            </nav>

            <div class="text-center text-white" style="margin-top: 8%; height: 65%;">  
              <h1 class="home-title">PLAY TRADITIONAL GAME</h1>
              <h6 class="home-tagline">Experience New Traditional Gameplay</h6>
              <a href="/game">
                <button type="button" class="btn btn-secondary btn-lg btn-block btn btn-warning">PLAY NOW</button>
              </a>
            </div> 
              <footer>
                <div class="text-center">
                  <a style="color: white;">THE STORY</a>
                </div>
                <div class="text-center" style="padding-top: 5px;">
                  <img src="./images/assets/scroll-down.svg">
                </div>
            </footer> 
        </div>

        
<!--==============================================-->
        <div class="the-game">
          <div class="top-sections">
              <h5>What's so special?</h5>
          </div>
          <div class="bottom-sections">

            <div class="row" style="height: 100%;">
              <div class="col-3">
                <h1>THE GAMES</h1>
              </div>
              <div class="col-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 90%; padding-left: 9%; padding-right: 9%;">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <!--
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    -->
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="./images/assets/rockpaperstrategy-1600.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="./images/assets/rockpaperstrategy-1600-Copy.jpg" alt="Second slide">
                    </div>
                    <!--<div class="carousel-item">
                      <img class="d-block w-100" src="./images/assets/rockpaperstrategy-cut-2.jpg" alt="Third slide">
                    </div>
                    -->
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span aria-hidden="true">
                      <img src="./images/assets/switch-left.svg">
                    </span>
                    <span class="visually-hidden">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span aria-hidden="true">
                      <img src="./images/assets/switch-right.svg">
                    </span>
                    <span class="visually-hidden">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>




<!--==============================================-->

            <div class="features">
              <div class="container-features" style="width: 100%; padding-top: 5%;">
                <div class="row">
                  <div class="col-6" style="color: white;">
                  
                  </div>
                  <div class="col-6" style="color: white; text-align: left; padding-left: 5%;">
                    <div>
                      <h5>
                        What's so special?
                      </h5>
                    </div>
                    <div>
                      <h1 style="font-size: 50px">FEATURES</h1>
                    </div>

                    <!-- accordion page 3 - Features -->
                    <div style="width: 60%; padding-top: 5%; padding-bottom: 5%;">
                      <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: black;">
                              <h5 style="color: orange;">
                                TRADITIONAL GAMES
                              </h5>
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body" style="background-color: black; color: white;">
                              If you miss your childhood, we provide many traditional games here.  
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color: black;">
                              <h5 style="color: orange;">
                                GAME SUIT
                              </h5>
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body" style="background-color: black; color: white;">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum a adipisci, asperiores voluptatum, saepe eveniet dolor.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: black;">
                              <h5 style="color: orange;">
                                TBD
                              </h5>
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body" style="background-color: black; color: white;">
                              Lorem, ipsum dolor sit amet consectetur adipisicing elit.  
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


<!--==============================================-->
            <div class="requirements">
              <div class="top-sentence">
                <h6>Can My Computer Run This Game?</h6>
              </div>

              <div class="container-table">
                <div class="row-top">
                  <div class="row">
                    <div class="col-8" >
                      <h1 style="font-size: 55px;">System Requirements</h1>
                    </div>
                  </div>
                </div>
             
                <div class="row-middle">
                  <div class="row">
                    <div class="col-5" >
                      <div class="requirement-os">
                        <h6 style="font-size: 20px; color: orange;">OS:</h6>
                      </div>
                      <div class="requirement-os-description">
                        <h6>Windows 7 64-bit only <br>
                          (No OSX support at this time)
                        </h6>
                      </div>
                    </div>
                    <div class="col-5" >
                      <div class="requirement-processor">
                        <h6 style="font-size: 20px; color: orange;">PROCESSOR:</h6>
                      </div>
                      <div class="requirement-processor-description">
                        <h6>Intel Core 2 Duo @2.4 GHZ or<br>
                           AMD Athlon X2 @ 2.8 GHZ
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row-middle-2">
                  <div class="row">
                    <div class="col-5" >
                      <div class="requirement-memory">
                        <h6 style="font-size: 20px; color: orange;">MEMORY:</h6>
                      </div>
                      <div class="requirement-os-description">
                        <h6>4 GB RAM
                        </h6>
                      </div>
                    </div>
                    <div class="col-5" >
                      <div class="requirement-processor">
                        <h6 style="font-size: 20px; color: orange;">STORAGE:</h6>
                      </div>
                      <div class="requirement-processor-description">
                        <h6>8 GB available space
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row-bottom">
                  <div class="row">
                    <div class="col-8" >
                      <div class="requirement-memory">
                        <h6 style="font-size: 20px; color: orange;">GRAPHICS:</h6>
                      </div>
                      <div class="requirement-os-description">
                        <h6>NVIDIA GeForce GTX 660 2GB or <br>
                          AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>



              </div>


            </div>
            

<!--==============================================-->

            <div class="top-score">
              <div class="container-top-score">
                <div class="row">
                  <div class="col-6" style="color: white; padding-left: 20%; padding-top: 15%;">
                    <div class="line-1-score">
                      <h1>TOP SCORES</h1> 
                    </div>
                    <div style="padding-top: 3%;">
                      <h6 class="line-2-score">
                        This top score from various games provided <br>
                        on this platform
                      </h6>
                    </div>
                    <div style="padding-top: 8%;">
                      <button type="button" class="btn btn-secondary btn-lg btn-block btn btn-warning" style="font-weight: bold;">see more</button>
                    </div>
                  </div>
                  

                  <!--kolom sebelah kanan nya score, yg isinya card-->
                  <div class="col-6" style="padding-top: 5%; padding-right: 5%;">
                    <div class="container">
                      <div class="row">
                        <div class="col-6">
                         
                        </div>
                        <div class="col-6">
                        <!-- ini si isian card nya-->
                        <div class="card bg-dark bg-opacity-25" style="max-width: 18rem; border-color: grey;">
                          <div class="card-header" style="background-color: black; border-color: black;">
                            <div class="row">
                              <div class="col-3">
                                <img src="./images/assets/evan-lahti.jpg" class="rounded" style="text-align: left; width: 50px; height: 50px;">
                              </div>
                              <div class="col-6" style="padding: 0; ">
                                <h6 class="nama-user" style="color: orange; font-size: 20px;">Evan Lahti</h6>
                                <h6 class="username-user" style="color: grey;">PC Gamers</h6>
                              </div>
                              <div class="col-3" style="text-align: right; padding-top: 5%;">
                                <img src="./images/assets/twitter-card.png">
                              </div>
                            </div>
                          </div>
                          <div class="card-body text-success" style="background-color: black; border-color: black;">
                            <p class="card-text" style="color: white; font-size: 12px;">"One of my gaming highlights of the year."</p>
                          </div>
                          <div class="card-footer" style="background-color: black; border-color: black; color: white; font-size: 10px;">
                            June 18, 2021
                          </div>
                        </div>  
                        </div>
                      </div>
                    </div>

                     <!-- Card ke 2-->
                     <div class="container">
                      <div class="row">
                        <div class="col-6">
                        <!-- ini si isian card nya-->
                        <div class="card bg-dark bg-opacity-25" style="max-width: 18rem; border-color: grey;">
                          <div class="card-header" style="background-color: black; border-color: black;">
                            <div class="row">
                              <div class="col-3">
                                <img src="./images/assets/jada-griffin.jpg" class="rounded" style="text-align: left; width: 50px; height: 50px;">
                              </div>
                              <div class="col-6" style="padding: 0; ">
                                <h6 class="nama-user" style="color: orange; font-size: 20px;">Jada Griffin</h6>
                                <h6 class="username-user" style="color: grey;">Nerdreactor</h6>
                              </div>
                              <div class="col-3" style="text-align: right; padding-top: 5%;">
                                <img src="./images/assets/twitter-card.png">
                              </div>
                            </div>
                          </div>
                          <div class="card-body text-success" style="background-color: black; border-color: black;">
                            <p class="card-text" style="color: white; font-size: 12px;">"The next big thing in the world of streaming and survival games."</p>
                          </div>
                          <div class="card-footer" style="background-color: black; border-color: black; color: white; font-size: 10px;">
                            July 10, 2021
                          </div>
                        </div>
                        </div>
                        <div class="col-6">
                          
                        </div>
                      </div>
                    </div>
                    
                    <!-- Card ke 3-->
                    <div class="container">
                      <div class="row">
                        <div class="col-6">
                       
                        </div>
                        <div class="col-6">
                           <!-- ini si isian card nya-->
                        <div class="card bg-dark bg-opacity-25" style="max-width: 18rem; border-color: grey;">
                          <div class="card-header" style="background-color: black; border-color: black;">
                            <div class="row">
                              <div class="col-3">
                                <img src="./images/assets/aaron-williams.jpg" class="rounded" style="text-align: left; width: 50px; height: 50px;">
                              </div>
                              <div class="col-6" style="padding: 0; ">
                                <h6 class="nama-user" style="color: orange; font-size: 20px;">aaron-williams</h6>
                                <h6 class="username-user" style="color: grey;">Uproxx</h6>
                              </div>
                              <div class="col-3" style="text-align: right; padding-top: 5%;">
                                <img src="./images/assets/twitter-card.png">
                              </div>
                            </div>
                          </div>
                          <div class="card-body text-success" style="background-color: black; border-color: black;">
                            <p class="card-text" style="color: white; font-size: 12px;">"Snoop Dogg Playing the Wildly Entertaining 'SOS' is Ridiculous."</p>
                          </div>
                          <div class="card-footer" style="background-color: black; border-color: black; color: white; font-size: 10px;">
                            December 24, 2018
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>

            
<!--==============================================-->
            <div class="newsletter">
              <div class="container-newsletter-top">
                <div class="row">
                  <!-- kolom kiri untuk yg gambar tengkorak doang-->
                  <div class="col-4">
                    <img src="./images/assets/skull.png" style="opacity: 90%; height: 70%;">
                  </div>

                  <!-- kolom kanan untuk detail tulisan dari atas sampe bawah-->
                  <div class="col-8" style="height: 100%; padding-right: 10%;">
                    <div class="line-1">
                        <h5>Want to stay in touch?</h5>
                    </div>
                    <div class="line-2-h1">
                      <h1 style="font-size: 70px;">NEWSLETTER SUBSCRIBE</h1>
                    </div>
                    <div class="line-3">
                        <h6>In order to start receiving our news, all you have to do is enter your email
                          address. Everything else will be taken care of by us. We will send you emails
                          containing information about the game. We don't spam.
                        </h6>
                    </div>

                     <!-- ini buat sepaket enter email sama button subscribe nya-->
                    <div class="container" style="padding-top: 10%;"> 
                      <div class="row row align-items-start">
                        <div class="col-6 bg-dark bg-opacity-25">
                          <input class="form-control" type="email" placeholder="Your Email Adress" aria-label="Email">
                        </div>
                        <div class="col-6">
                          <button type="button" class="btn btn-secondary btn-lg btn-block btn btn-warning">Subscribe Now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-bawah" style=" padding-right: 10%;">
                <div class="row" style="padding-right: 10%; padding-left: 30%; padding-top: 3%;">
                  <div class="col">
                    <h4 style="font-size: 10px;">
                      MAIN
                    </h4>
                  </div>
                  <div class="col">
                    <h4 style="font-size: 10px;">
                      ABOUT
                    </h4>
                  </div>
                  <div class="col-2">
                    <h4 style="font-size: 10px;">
                      GAME FEATURES
                    </h4>
                  </div>
                  <div class="col-2">
                    <h4 style="font-size: 10px;">
                      SYSTEM REQUIREMENTS
                    </h4>
                  </div>
                  <div class="col">
                    <h4 style="font-size: 10px;">
                      QUOTES
                    </h4>
                  </div>
                  <div class="col">
                    <img src="./images/assets/facebook.svg">
                  </div>
                  <div class="col">
                    <img src="./images/assets/twitter.svg">
                  </div>
                  <div class="col">
                    <img src="./images/assets/youtube.png" style="height: 20px; width: 30px;">
                  </div>
                  <div class="col">
                    <img src="./images/assets/twitch.svg">
                  </div>
                </div>
              </div>
            
            <hr style="color: grey; height: 3px; padding-right: 20%; padding-left: 20%;">

            <div class="container-paling-bawah" style="padding-left: 10%; padding-right: 10%;">
              <div class="row" style="padding-right: 10%; padding-top: 0;">
                <div class="col-6">
                  <h4 style="font-size: 10px; text-align: left; color: white; padding-left: 25%;">
                    @ 2018 Your Games, inc. All Rights Reserved
                  </h4>
                </div>
                <div class="col-6">
                  <h4 style="font-size: 10px; text-align: right; color: white;">
                    PRIVACY POLICY | TERMS OF SERVICE | CODE OF CONDUCT
                  </h4>
                </div>
              </div>
            </div>
          </div>
       </div>

        <script src="./bootstrap-5.2.3-dist/js/bootstrap.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->
    </body>
</html>